#
#  SERVICE.CONFIG
#     This file will allow users to change specific information about the logging service
#
#  CREATED ON      :   02/22/21
#  LAST UPDATED    :   02/23/21
#

# ------------------------------------------------------------------------------------------------
#   AVAILABLE LOGGING LEVELS
# ------------------------------------------------------------------------------------------------

# ================================================================================================
   FATAL
#   -   USER CONFIG
#
# ================================================================================================

# ================================================================================================
   ERROR
#   -   USER CONFIG
#
# ================================================================================================

# ================================================================================================
   WARN
#   -   USER CONFIG
#
# ================================================================================================

# ================================================================================================
   INFO
#   -   USER CONFIG
#
# ================================================================================================

# ================================================================================================
   DEBUG
#   -   USER CONFIG
#
# ================================================================================================

# ================================================================================================
   TRACE
#   -   USER CONFIG
#
# ================================================================================================

# ================================================================================================
   ALL
#   -   USER CONFIG
#
# ================================================================================================

# ================================================================================================
   OFF
#   -   USER CONFIG
#
# ================================================================================================